*,
*::before,
*::after
  box-sizing: border-box

body
  overflow-x: hidden

ul,
nav
  list-style: none
  padding: 0
  margin: 0

h1,
h2,
h3,
h4,
h5,
h6
  padding: 0
  margin: 0
  font-weight: 600

a
  opacity: 1
  &:hover,
  &:active,
  &:focus
    opacity: .9
    text-decoration: none
    outline: none

p
  padding: 0
  margin: 0

.main
  padding-bottom: 4rem
  &__title
    text-align: center
    & i.fa
      font-size: 6rem

.aside
  padding-top: 4rem
  &__title
    margin-bottom: 2rem
    @media (max-width: 768px)
      margin-top: 4rem
    & h3
      & > i.fa
        font-size: 2.5rem
        margin-right: 1rem
  &__info
    cursor: pointer
    padding: 1rem 0
    background: #f7f7f7
    text-align: center
    margin-bottom: 2rem
    & > span
      font-weight: 500
      border-bottom: .1rem dashed
    & > i.fa
      margin-left: .5rem
      font-size: 1.4rem

#callback-button
  position: fixed
  bottom: 5rem
  right: -7rem
  font-size: 5rem
  background: rgba(0, 121, 194, .8)
  border-radius: 50%
  color: #fff
  width: 7rem
  height: 7rem
  line-height: 7.5rem
  text-align: center
  z-index: 9999
  transition: right .3s
  &.active
    right: 5rem
    @media (max-width: 768px)
      right: .5rem
      bottom: 1rem

#top-button
  position: fixed
  bottom: 6rem
  left: -4rem
  font-size: 3rem
  padding: 0 .5rem
  background: rgb(239, 239, 239)
  border: .1px solid gray
  color: #efefef
  z-index: 9999
  transition: left .3s
  &.active
    left: 5rem
    @media (max-width: 768px)
      left: .5rem

#back-button
  position: fixed
  bottom: 1rem
  left: -4rem
  font-size: 3rem
  padding: 0 .6rem
  background: rgb(239, 239, 239)
  border: .1px solid gray
  color: #efefef
  z-index: 9999
  transition: left .3s
  &.active
    left: 5rem
    @media (max-width: 768px)
      left: .5rem

.title
  &-br
    position: relative
    text-align: center
    margin-bottom: 2rem
    & h2
      display: inline-block
      padding: 0 1.5rem
      background: #fff
      position: relative
      z-index: 10
      & > i.fa
        margin-left: .5rem
      & + hr
        position: absolute
        width: 100%
        top: -.4rem
        left: 0
        z-index: 5
  &-small
    margin: 4rem 0
    & h2
      font-size: 2.5rem
    & p
      margin-top: 1rem

.mt-4
  margin-top: 4rem

.mt-8
  margin-top: 8rem

.btn
  & i.fa
    margin-right: .5rem
  &-print
    background: rgba(51, 51, 51, .8)
    color: #fff

.icon
  &-blue
    color: #0079c2

  &-gray
    color: gray

  &-black
    color: rgba(51, 51, 51, .5)


.text
  &-center
    text-align: center

  &-right
    text-align: right

  &-input
    display: inline-block
    position: relative

  &-warn
    display: inline-block
    text-align: center
    border: .2rem solid #fff
    border-radius: 50%
    width: 3.7rem
    height: 3.7rem
    margin-right: 2rem

  &-gerb
    background: url(../img/gerb.png) no-repeat left center
    background-size: 5rem
    padding: 2rem 0
    padding-left: 7rem

  &-circle-blue
      display: inline-block
      width: 12rem
      height: 12rem
      border-radius: 50%
      background: #fff
      border: .5rem solid #0079c2

  &-circle-25
    border-right-color: #b7b5b5
    border-bottom-color: #b7b5b5
    border-left-color: #b7b5b5
    transform: rotate(-45deg)
    & *
      transform: rotate(45deg)

  &-circle-75
    border-right-color: #b7b5b5
    transform: rotate(-45deg)
    & *
      transform: rotate(45deg)

.pos-r
  position: relative

.arrow
  &-next-step
    width: 100%
    position: relative
    top: 3.5rem
    left: 0

.input
  &-icon
    padding: .6rem 0
    padding-left: 3rem
    & + i.fa
      left: .5rem
      position: absolute
      &-mobile
        top: .2rem
        font-size: 3rem
      &-user
        top: .4rem
        font-size: 2.5rem
      &-envelope
        top: .7rem
        font-size: 2rem

.textarea
  resize: vertical

.dropzone
  border: .2rem dashed #0087F7
  border-radius: .4rem
  background: #fff
  & .dz-error-message,
  & .dz-success-mark,
  & .dz-error-mark
    display: none

.section
  position: relative

  &__price
    padding: 4rem 0
    background: url(../img/contact.jpg) no-repeat center
    background-size: cover
    color: #fff
    margin-bottom: 4rem
    & h2
      margin-bottom: 2rem
    & > span
      font-weight: 600
      font-size: 2.5rem
      margin-top: 2rem
      display: inline-block
    &-control
      & span
        display: inline-block
        margin: 1rem 0 2rem
        font-size: 1.8rem
      & .btn
        display: block

  &__overlay
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background: #000
    opacity: .7

  &__arrow-white
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    background: url(../img/arrow-white.png) no-repeat center

  &__services
    background: #fbfbfb
    margin-top: .5rem
    display: none

.ml3prc
  margin-left: 3%
  @media (max-width: 768px)
    margin-left: 0

.panel-heading
  cursor: pointer

.data-order
  @media (max-width: 768px)
    display: flex
    flex-flow: row wrap
    &-last
      flex: 1 100%
      order: 2
    &-first
      flex: 1 100%
      order: 1