section.section.section__counter
	.container
		.row
			.col-md-12.col-sm-12.col-xs-12
				h2.text-center
					| Мы помогли более
					b.count 2
					b.count 7
					b.count 0
					b.count 0
					b.count 0
					| людям
			.col-md-12.col-sm-12.col-xs-12
				p.text-center У вас остались вопросы? Оставьте номер телефона, специалист свяжется с вами в течении 3-х минут
			.col-md-12.col-sm-12.col-xs-12
				p.text-center
					span.text-input
						input.form-control.input.input-icon(type='phone' name='phone' placeholder='+7 (___) ___ - __ - __')
						+icon('fa-mobile icon-gray')
					button.btn.btn-primary(type='button') ПЕРЕЗВОНИ МНЕ