section.section.section__copyright
	.container
		.row
			.col-md-4.col-sm-4.col-xs-6
				p
					+icon('fa-envelope icon-gray')
					span info@mailmail.ru
				p
					span &copy; 2015, ООО "Консалтинг груп"
			.col-md-4.col-sm-4.hidden-xs
				.footer__center
					p.text-center
						+icon('fa-sticky-note-o icon-gray')
						a(href='#0') Написать жалобу
					p.text-center
						+icon('fa-user-circle icon-gray')
						a(href='#0') Написать Директору
			.col-md-4.col-sm-4.col-xs-6
				p.footer__par-info.text-right
					span ОГРН:1234567890123456<br>ИНН: 123456789012
				p.text-right
					a(href='#0') Все права защищены