a#back-button(href='javascript:history.go(-1)')
	+icon('fa-arrow-left icon-gray')

a#top-button(href='#0')
	+icon('fa-arrow-up icon-gray')

a#callback-button(href='#0' data-toggle='modal' data-target='#callback')
	+icon('fa-phone')