section.section.section__map
	.container-fluid
		.row.pos-r
			#contact-google-map.google-map-area
			.address
				.address__item
					p Тверская улица, 9
					p Москва, Россия
					p Тел: +7 (999) 999-99-99
				.address__item.active
					p Тверская улица, 9
					p Москва, Россия
					p Тел: +7 (999) 999-99-99
				.address__item
					p Тверская улица, 9
					p Москва, Россия
					p Тел: +7 (999) 999-99-99
			script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB2PBPXibk6hTN2R8KXfx8UwCeCRsSIb1o')