header.header
	.container
		.row
			.col-md-3.col-sm-4.col-xs-6
				.header__left
					a(href='index.html')
						img(src='assets/img/logo.png' alt='')
						h3 Consulting Group
						p Консалтинговые услуги
					a.header__about.hidden-xs(href='#0')
						+icon('fa-home')
						span О нас
			.col-md-5.col-sm-4.col-xs-6
				.header__center
					a(href='#0')
						+icon('fa-bars')
						span#services Все услуги
					.input-group
						input.form-control(type='text' placeholder='Регистрация фирм')
						span.input-group-btn
							button.btn.btn-default(type='button') Найти
			.col-md-4.col-sm-4.hidden-xs
				.header__right
					p.clearfix
						span.pull-right.hidden-sm.hidden-xs
							+icon('fa-clock-o icon-blue')
							| с 9:00 до 24:00
						span.pull-right
							+icon('fa-phone icon-blue')
							| +7 (999) 999-99-99
					p.clearfix
						span.pull-right.hidden-sm.hidden-xs
							+icon('fa-map-marker icon-blue')
							| Адрес
						span.pull-right
							+icon('fa-headphones icon-gray')
							button.btn.btn-default(type='button' data-toggle='modal' data-target='#callback') Обратная связь