section.section.section__how-work
	.container
		.row
			.col-md-12.col-sm-12.col-xs-12
				.title-br
					h2 КАК МЫ РАБОТАЕМ
					hr
			.col-md-3.col-sm-3.col-xs-12.text-center(style='margin-left:3%')
				span.text-circle-blue.text-circle-25
					+icon('fa-headphones icon-black')
				h5 Позвоните нам
				b
				p.text-center Рента арендует антимонопольный взаимозачет. Регрессное требование законодательно подтверждает.
			.col-md-1.col-sm-1.hidden-xs.text-center.pos-r
				img.arrow-next-step(src='assets/img/arrow-right.png' alt='')
			.col-md-3.col-sm-3.col-xs-12.text-center
				span.text-circle-blue.text-circle-75
					+icon('fa-question-circle-o icon-black')
				h5 Задайте вопрос
				b
				p.text-center Публичность данных отношений предполагает, что аналогия закона устанавливает преддоговорный товарный кредит.
			.col-md-1.col-sm-1.hidden-xs.text-center.pos-r
				img.arrow-next-step(src='assets/img/arrow-right.png' alt='')
			.col-md-3.col-sm-3.col-xs-12.text-center
				span.text-circle-blue
					+icon('fa-sticky-note-o icon-black')
				h5 Получите ответ
				b
				p.text-center По общему правилу аналогия закона устойчиво индоссирует бытовой подряд, несмотря на некоторую вероятность.