section.section.section__info
	.container
		.row
			.col-md-12.col-sm-12.col-xs-12
				h3
					| Мы объединяем специалистов&nbsp;
					a(href='#0') по всем отраслям права
					| , что даёт возможность оказывать вам юридические услуги по любому&nbsp;
					a(href='#0') правовому вопросу
					| .
			.col-md-3.col-sm-6.col-xs-12.text-center
				span.text-circle-blue
					+icon('fa-user-o icon-blue')
					p 54
				p Консультации за сегодня
			.col-md-3.col-sm-6.col-xs-12.text-center
				span.text-circle-blue
					+icon('fa-comments-o icon-blue')
					p 3 654
				p Консультаций за месяц
			.col-md-3.col-sm-6.col-xs-12.text-center
				span.text-circle-blue
					+icon('fa-users icon-blue')
					p 1 66 560
				p Консультаций всего
			.col-md-3.col-sm-6.col-xs-12.text-center
				span.text-circle-blue
					+icon('fa-comment-o icon-blue')
					p 4 560
				p Отзывов