section.section.section__services
	.container
		.row
			.col-md-12.col-sm-12.col-xs-12
				ul.services
					li.services__item
						a.services__link(href='audit-2.html')
							+icon('fa-users icon-blue')
							span Регистрация фирм
					- var n = 2
					while n <= 15
						- var text = 'Services - ' + n++
						li.services__item
							a.services__link(href='audit-2.html')
								+icon('fa-users icon-blue')
								span= text