- var z = 2
span.menu-table__body
	span.menu-table__body__item
		span.menu-table__body__link(href='audit.html')
			+icon('fa-certificate icon-gray')
			| Регистрация ИП
	while z <= 6
		- var value = 'Услуга - ' + z++
		span.menu-table__body__item
			span.menu-table__body__link(href='audit.html')
				+icon('fa-certificate icon-gray')
				= value
	button.all-services.clearfix(type='button' data-href='audit-2.html')
		b Все услуги
		+icon('fa-arrow-right icon-white')