section.section.section__price
	.container
		.row
			.col-md-6.col-sm-8.col-xs-12
				h2= bTitle
				p= bText
				span= bPrice
				.section__price-control
					span +7 (999) 999-99-99
					button.btn.btn-primary(type='button' data-toggle="modal" data-target="#callback") Узнать детали